<div class="card" style="width: 18rem;">
  <img src="{{ product.first_pic_url('mini') }}" class="card-img-top" alt="Photo : {{ product.title }}">
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text" style="font-weight: bold; font-size: 2em;">{{ product.priceFormatted }}</p>
    <p>catégorie : {{ product.category.name }}</p>

    <a href="{{ path('product_show', {"id": product.id, "slug": product.slug}) }}" class="btn btn-primary">Voir plus</a>

    <a class="btn btn-success ms-4" href="{{ path('cart_add', {"id": product.id, "quant": 1}) }}">
            <i class="bi bi-cart3"></i>
    </a>
  </div>
</div>