

<div class="card mb-4" style="width: 18rem;">
  <div class="card-body">
    <h6 class="card-title">
        {{ address.civility }} {{ address.firstName }} {{ address.lastName }}
    </h6>
    <p class="card-text">
        {{ address.number }} {{ address.way }}
        <br>
        {{ address.postalCode }} {{ address.city }}
    </p>
    
    {% if address.isDelivery %}
      <button class="btn btn-outline-success disabled mb-2">Adresse de livraison</button>
    {% endif %}
    {% if address.isInvoice %}
      <button class="btn btn-outline-info disabled mb-2">Adresse de facturation</button>
    {% endif %}

    <form action="" method="post">
        <button class="btn btn-primary {% if address is same as address_selected %}disabled{% endif %}" name="update" value="{{ address.id }}">Modifier</button>
        <button class="btn btn-secondary {% if address is same as address_selected %}disabled{% endif %}" name="delete" value="{{ address.id }}">Supprimer</button>
    </form>
  </div>
</div>